<div class='jumbotron'>
    <h3><span class="label label-default">Sign Up</span></h3>
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label ><br>
        <input class="user-input" name="user[email]" type="text" placeholder='Email'><br>
  </label><br>
  <label >
    <input class="user-input" name="user[password]" type="password" placeholder='Password'><br>
  </label><br>
  <input id="create-user" type="submit" value="Submit" class="btn btn-default"><br>
</form>


<form action='/users/guest' method='post'>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label ><br>
	<button id='guest-login' class='btn btn-default'>Guest Sign Up</button>
</form>

<%= button_to "Already have an account?", new_session_url, method: :get, class: 'btn btn-default'%>
</div>


