<h3><span class="label label-default">Twitter Users List</span></h3>


<form action='/common_followers', method='GET'>


<% @twitter_users.each do |user| %>
  <%= check_box_tag(:user1) %>
  <%= link_to user.name, twitter_user_url(user) %>
  
  <br>
<% end %>


<h4>Select two boxes to compare followers</h4>
<input type='submit' class='submit'>
</form>


